<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'new artist', new_artist_path %>
<%= link_to 'new genre', new_genre_path %>
<%= link_to 'all artists', artists_path %>
<%= link_to 'all genres', genres_path %>

<%= yield %>

</body>
</html>